%div{'ng-controller' => "UsersController as vm"}
	%div{style: "float: left; margin-right: 10px; width: 64px; height: 64px;position: relative;"}
		%img{alt: "64x64", style: "float: left; margin-right: 10px; width: 64px; height: 64px;", src: "{{vm.user.avatar}}", 'data-holder-rendered': "true"}
		%div{style: "cursor: pointer; background: rgba(0,0,0,0.3); height: 20px; position: absolute; bottom: 0; width: 100%; text-align: center; color: white;", 'ng-if': "vm.user_id == vm.user.id", 'ng-click': "vm.uploadClick()"} upload
		%div{style: "clear: both"}
		%form{name:"myForm", style: "float: left;margin: 0; padding: 0;"}
			%fieldset{style: "float: left;margin: 0; padding: 0;"}
				%input#avatar_upload{type:"file", 'ngf-select': "", 'ng-model': "vm.picFile", name: "file", accept: "image/*", 'ngf-max-size': "2MB", required: "", style: "visibility: hidden;width:0;height:0;"}
				%button{'ng-disabled': "!myForm.$valid", 'ng-show': "vm.picFile", 'ng-click': "vm.uploadPic(vm.picFile)"} Submit
	%span{style: "padding: 20px 0 0 10px; font-size: 20px;"} {{vm.user.email}}
	%br
	%button.btn.btn-primary{type: "button"} 
		%i{class: ["fa", "fa-question", "fa-lg"]}
		{{vm.user.user_posts_num}}
	%button.btn.btn-primary{type: "button"}
		%i{class: ["fa", "fa-star", "fa-lg"]}
		{{vm.user.rating}}

	%div{style: "clear: both;margin-top: 20px;"}
	.row
		.col-xs-6
			%h4 Questions
			%hr
			%ul
				%li{'ng-repeat' => "post in vm.user.posts", class: "list-group-item row"}
					%span
						.col-xs-2
							%button{type: "button", class: "btn", 'ng-class': "{'btn-success': post.is_true == true}"} {{post.user_likes.length - post.user_dislikes.length}}
						%a.col-xs-10{'ui-sref'=> "answers({ postId: post.id })"} {{ post.title }}
		.col-xs-6
			%h4 Answers
			%hr
			%ul
				%li{'ng-repeat' => "answer in vm.user.answers", class: "list-group-item row"}
					%span
						.col-xs-2
							%button{type: "button", class: "btn", 'ng-class': "{'btn-success': answer.is_true == true}"} {{answer.user_likes.length - answer.user_dislikes.length}}
						%a.col-xs-10{'ui-sref'=> "answers({ postId: answer.post_id })"} 
							%p{'ng-bind-html': "answer.title | sanitize"}
	%div{style: "clear: both"}
	.row
		.col-xs-6
			%h4 Tags
			%hr
			%ul
				%li{'ng-repeat' => "tag in vm.user.tags", class: "list-group-item row"}
					%a{'ui-sref'=> "posts.tag({ tagId: tag.id })"}
						%span{class: ["label", "label-warning"], style: "margin-right: 5px;"} {{tag.title}}
