%div{'ng-controller' => "PostsController as vm"}
  %h3 Recent Posts
  .btn-group{style: "margin-bottom: 10px;"}
    %label{class: ["btn", "btn-default"], 'ng-model' => "vm.rangeDescriptor", 'btn-radio' => "'all'"} All
    %label{class: ["btn", "btn-default"], 'ng-model' => "vm.rangeDescriptor", 'btn-radio' => "'today'"} Today
    %label{class: ["btn", "btn-default"], 'ng-model' => "vm.rangeDescriptor", 'btn-radio' => "'pastWeek'"} Past Week
    %label{class: ["btn", "btn-default"], 'ng-model' => "vm.rangeDescriptor", 'btn-radio' => "'pastMonth'"} Past Month
  %div{class: ["panel", "panel-default", "col-xs-12"], 'ng-init' => 'vm.getPosts(1)'}
    %my-pagination{:from => "vm.from_index", :to => "vm.to_index", :current_page => "vm.current_page", :total=> "vm.total_entries", :action => "vm.getPosts(page)"}
    %div{class: ["row", "panel-heading"]}
      .col-xs-3 Title
      .col-xs-2 Forums
      .col-xs-4 Description
      .col-xs-3
        %button{'ng-click' => "vm.new()", type: "button", class: "btn btn-success"}
          %i{class: ["fa", "fa-plus-circle", "fa-lg"]} New
    %ul.list-group
      %span{'ng-if' => "vm.newPost"}
        %li{class: ["list-group-item", "row"]}
          %form.form-inline{'ng-submit' => "vm.create()"}
            %post-form{post: "vm.newPost", forums: "vm.forums"}
            .col-xs-3
              %button{'ng-click' => "vm.newCancel()", class: "btn"} Cancel
              %button{type: "submit", class: ["btn", "btn-primary"]} Create
      %li{'ng-repeat' => "post in vm.posts | dateRange:'created_at':vm.rangeDescriptor | orderBy: '-created_at'", class: "list-group-item row"}
        %span{'ng-if' => "post != vm.editedPostMarker"}
          .col-xs-3 {{ post.title }}
          .col-xs-2 {{ post.forum.title }}
          .col-xs-4 {{ post.description }}
          .col-xs-3
            %button{'ng-click' => "vm.edit(post)", type: "button", class: "btn"}
              %i{class: ["fa", "fa-pencil", "fa-lg"]}
            %button{'confirmed-click' => "vm.destroy(post);", 'confirm-click' => "Are you sure?", type: "button", class: "btn btn-danger"}
              %i{class: ["fa", "fa-trash-o", "fa-lg"]}
        %span{'ng-if' => "post == vm.editedPostMarker"}
          %form.form-inline{'ng-submit' => "vm.update()"}
            %post-form{post: "vm.clonedPost", forums: "vm.forums"}
            .col-xs-3
              %button{'ng-click' => "vm.editCancel()", class: "btn"} Cancel
              %button{type: "submit", class: ["btn", "btn-primary"]} Save
